#app-footer
{
    padding: calc(var(--page-padding) / 2) var(--page-padding);
    background-color: var(--secondary-fill-colour);
    text-align: center;
    font-size: 14px;
    color: #6c757d;
    border-top: 1px solid #e7e7e7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
