
.header-bar
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: var(--header-height);

    background-color: #d8d8d8;

    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #91989f;
}

.header-bar .left
{
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.header-bar .right
{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.user-session
{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
