
.header-bar
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* Set z-index for header to be behind the manitine notifications */
    z-index: var(--z-index-header);
    height: var(--header-height);

    background-color: white;

    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #d8d8d8;
}

.header-bar .left
{
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.header-bar .right
{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.user-session
{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
