
.header-bar
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* Set z-index for header to be behind the manitine notifications */
    z-index: var(--z-index-header);
    height: var(--header-height);

    background-color: white;

    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #d8d8d8;
}

.header-bar .left
{
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.header-bar .right-user-and-dropdown
{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.search-bar
{
    display: flex;
    align-items: center;
    flex-direction: row;
    /*  Grow 2 instead of 1 to give the search bar more space (relative to
        user name and drop down menu) on narrow windows */
    flex: 2 1;
    gap: var(--hgap-mid);
}

.search-bar .search-input
{
    flex: 1;

    padding: 5px 10px;
}

.user-session
{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

@media (max-width: 800px)
{
    .header-bar .right-user-and-dropdown
    {
        flex-grow: 0;
    }

    .user-session-status
    {
        display: none;
    }
}
