.text-editor-v1,
.tiptap-editor-container,
.code-editor-container,
.wikisim-select
{
    position: relative;  /* Ensure label can be positioned correctly */
}


.text-editor-v1 textarea,
.text-editor-v1 input,
.tiptap-editor-container,
.code-editor-container
{
    border-radius: var(--radius-border);
    border: none;
    border: 1px solid #ced4da;
}

.text-editor-v1.is_focused textarea,
.text-editor-v1.is_focused input,
.tiptap-editor-container.is_focused,
.code-editor-container.is_focused
{
    border: 1px solid var(--colour-tertiary-blue);
    /* Prevent browser's default outline as we're using border */
    outline: none;
}


.text-editor-v1 label,
.tiptap-editor-container label,
.code-editor-container label,
.wikisim-select label
{
    position: absolute;
    left: 12px;
    font-size: 16px;
    color: #868e96;
    background: white;
    padding: 0px;
    pointer-events: none;
    transition: all 0.2s;
    border-radius: 3px;
}

.text-editor-v1.is_focused label,
.tiptap-editor-container.is_focused label,
.code-editor-container.is_focused label
{
    color: var(--colour-secondary-blue);
}

.text-editor-v1.has_value label,
.text-editor-v1.is_focused label,
.tiptap-editor-container.has_value label,
.tiptap-editor-container.is_focused label,
.code-editor-container.has_value label,
.code-editor-container.is_focused label,
.wikisim-select.has_value label
{
    top: -10px;
    font-size: 12px;
    padding: 0 4px;
}


.error-icon
{
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--mantine-color-red-6);
}

.text-editor-v1.invalid_value label,
.tiptap-editor-container.invalid_value label
{
    color: var(--mantine-color-red-6);
    font-weight: 500;
}

.text-editor-v1.invalid_value textarea,
.text-editor-v1.invalid_value input,
.tiptap-editor-container.invalid_value
{
    border: 1px solid var(--colour-invalid);
    /* !important is needed for styling the tiptap entry element */
    background-color: var(--colour-invalid-fainter) !important;
}

.text-editor-v1.invalid_value.is_focused textarea,
.text-editor-v1.invalid_value.is_focused input,
.tiptap-editor-container.invalid_value.is_focused
{
    border: 1px solid var(--mantine-color-red-6);
    /* !important is needed for styling the tiptap entry element */
    background-color: var(--mantine-color-red-1) !important;
}
