

.json-viewer
{
    display: flex;
    font-family: monospace;
}

.json-collapsible
{
    cursor: pointer;
    background-color: #fafafa;
    outline: thin solid rgba(0, 0, 0, 0);
}
.not-json-collapsible
{
    cursor: default;
}
.json-collapsible.is_hovered
{
    outline: thin solid grey;
}

.json-object-viewer,
.json-array-viewer
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.json-object-contents,
.json-array-contents
{
    cursor: default;
}
