
.value-editor-container.opened
{
    border-top: 1px solid var(--colour-border);
    padding-top: 10px;
    /* border-bottom: 1px solid var(--colour-border); */
    padding-bottom: 10px;
}

.value-editor-container .row .sig-figs
{
    width: 100px;
    /* To set the width we have to over-write the default min-width on the TextEditorV1 */
    min-width: 100px;
    flex: 0 0 100px;
}

.value-editor-container .row .format
{
    /* To set the width we have to over-write the default min-width on the TextEditorV1 */
    min-width: unset;
    flex: 1 1 0;
}

.row-group
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
}

.value-editor-container > .row { min-width: 320px; }
@media (max-width: 760px)
{
  .row-group
  {
    flex-direction: column;
  }
}

/*
.value-editor-container > .generic-error-message.hide
{
    margin-top: -20px;
} */
