.mention-chip {
    /* background: #e3f2fd; */
    color: #1976d2;
    text-decoration: underline;
    /* padding: 2px 6px; */
    /* border-radius: 12px; */
    font-size: 0.9em;
    cursor: pointer;
    /* border: 1px solid #1976d2; */
    display: inline-block;
    margin: 0 2px;
}
.mention-chip.alternative-value
{
    color: orange;
}

.mention-chip:hover {
    background: #bbdefb;
}
