
.text-editor-v1
{
    margin-top: var(--common-close-form-vgap);
}

.text-editor-v1 textarea,
.text-editor-v1 input
{
    font-size: 16px;
    transition: border 0.2s;
    resize: none; /* Hide resize handle */
}
.text-editor-v1 textarea
{
    padding: 12px 12px 10px 12px;
}
.text-editor-v1 input
{
    padding: 12px 12px 8px 12px;
}


.text-editor-v1 label
{
    top: 12px;
}
