
.text-editor-v1
{
    margin-top: var(--vgap-small);
    display: flex;
    flex: 1 1;
}


.text-editor-v1 textarea,
.text-editor-v1 input
{
    flex: 1 1;
    font-size: 16px;
    transition: border 0.2s;
    resize: none; /* Hide resize handle */
}
.text-editor-v1 textarea
{
    padding: var(--padding-text-box);
}
.text-editor-v1 input
{
    padding: var(--padding-text-box);
}


.text-editor-v1 label
{
    top: 5px;
}
