
.generic-error-message + .generic-error-message {
    margin-top: 0;
}

.generic-error-message
{
    margin-top: var(--vgap-large);
    padding: 10px;
    border-radius: var(--radius-border);
    border: 1px solid var(--colour-invalid);
    background-color: var(--colour-invalid-fainter);

    transition: border 0.3s ease, background-color 0.3s ease, opacity 0.3s ease, height 0.3s ease, margin 0.3s ease, padding 0.3s ease;
}

.generic-error-message.hide
{
    padding: 0;
    opacity: 0;
    height: 0;
    margin: 0;
    border: none;
    background-color: none;
}

.generic-error-message.warning
{
    border: 1px solid var(--colour-warning);
    background-color: var(--colour-warning-fainter);
}
