
.search-results-table
{
    max-width: 50%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

.search-results-table .result-row
{
    text-decoration: none;
    color: inherit;

    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.15s, border-color 0.15s;
    padding: 8px 12px;
}

.result-row + .result-row
{
    border-top-color: var(--colour-border);
}

.result-row.selected
{
    border-color: var(--colour-primary-blue);
    background-color: #f0f4fa;
}
