
.search-results-table
{
    max-width: 50%;
    min-width: 400px;
}

.result-row
{
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
    background: transparent;
    transition: background 0.15s, colour-border 0.15s;
}

.result-row + .result-row
{
    border-top-color: var(--colour-border);
}

.result-row.selected
{
    border-color: var(--colour-primary-blue);
    background: #f0f4fa;
}
