

.json-viewer
{
    display: flex;
    font-family: monospace;
}

.json-collapsible
{
    cursor: pointer;
    background-color: #fafafa;
    outline: thin solid rgba(0, 0, 0, 0);
}
.not-json-collapsible
{
    cursor: default;
}
.json-viewer .json-collapsible
{
    /* outline: thin solid grey; */
}

.json-object-viewer,
.json-array-viewer
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.json-object-contents,
.json-array-contents
{
    cursor: default;
}

.json-viewer .is_leaf_value.is_hovered
{
    background-color: var(--colour-quaternary-green);
}

.json-viewer .is_leaf_value.is_hovered.is_selected
{
    /* Indicate that clicking now will deselect the item that is being hovered */
    /* background-color: var(--colour-warning-fainter); */
}

.json-viewer .is_selected
{
    background-color: var(--colour-quaternary-blue);
}
