

.json-viewer-container
{
    position: relative;
}

.json-viewer
{
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-size: var(--mantine-font-size-md);
    line-height: var(--mantine-line-height);

    /* Limits the height of JSON viewer so that longer content is not shown all
     * at once but is scrolled */
    max-height: calc(30 * var(--mantine-font-size-md) * var(--mantine-line-height));
    overflow-y: scroll;
    background-color: #fafafa;
}

.json-viewer-container .overflow-gap
{
    height: 0.2em;
    width: 100%;
    flex-shrink: 0;
}
.json-viewer-container .overflow-fade-out
{
    height: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(250, 250, 250, 0), #fafafa 90%);
}

.json-collapsible
{
    cursor: pointer;
    outline: thin solid rgba(0, 0, 0, 0);
}
.not-json-collapsible
{
    cursor: default;
}
.json-viewer .json-collapsible
{
    /* outline: thin solid grey; */
}

.json-object-viewer,
.json-array-viewer
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.json-object-contents,
.json-array-contents
{
    cursor: default;
}

.json-viewer .is_leaf_value.is_hovered
{
    background-color: var(--colour-quaternary-green);
}

.json-viewer .is_leaf_value.is_hovered.is_selected
{
    /* Indicate that clicking now will deselect the item that is being hovered */
    /* background-color: var(--colour-warning-fainter); */
}

.json-viewer .is_selected
{
    background-color: var(--colour-quaternary-blue);
}
