
.data-component-edit-form-container
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.data-component-form
{
    margin-top: 30px;
    flex: 1 1 370px; /* Allow the form to grow and fill available space */
    max-width: 700px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.data-component-form.editable .tiptap-editor-container
{
    background-color: var(--primary-fill-color);
}

.data-component-form.view-only .tiptap-editor-container
{
    background-color: var(--secondary-fill-color);
}
.data-component-form.view-only .tiptap-editor-container,
.data-component-form.view-only .editor-content,
.data-component-form.view-only .tiptap-content
{
    cursor: default;
}


.buttons-container-spacer
{
    width: 50px;
    flex: 0 0 50px;
}
.buttons-container
{
    position: fixed;
    top: 50px;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.notifcation-draft-loaded
{
    cursor: pointer;
}

.notifcation-draft-loaded .action-discard-changes
{
    color: var(--mantine-color-red-9);
}
.notifcation-draft-loaded .action-discard-changes:hover
{
    color: var(--mantine-color-red-8);
}
