

.function-arguments
{
    display: flex;
    flex-direction: column;
    gap: calc(var(--vgap-mid) - var(--vgap-small));

    border-top: 1px solid var(--colour-border);
}

.function-argument-form
{
    display: flex;
    flex-direction: column;
    gap: var(--vgap-mid);
}

.function-argument-form-row
{
    display: flex;
    flex-direction: row;
    gap: var(--vgap-mid);
}

/* .value-editor-container .function-arguments .generic-error-message
{
    /* For some reason this needs -7px to have 0 height when hidden? */
    /* Also helps position error message upward to be closer to the
        function-argument row's input elements * /
    margin-top: -7px;
}
.value-editor-container .function-arguments .generic-error-message.show
{
    margin-bottom: 10px;
} */

.function-argument-delete-button
{
    display: flex;
}

@media (max-width: 800px)
{
    .function-arguments
    {
        gap: var(--vgap-large);
    }
    .function-argument-form-row
    {
        flex-direction: column;
        gap: var(--vgap-small);
    }
}
