
.save-modal
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.save-modal .buttons
{
    display: flex;
    flex-direction: row;
    gap: var(--hgap-mid);
}

.save-modal .error-message
{
    color: var(--colour-error);
    font-weight: bold;
}
