
.save-modal
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.save-modal .buttons
{
    display: flex;
    flex-direction: row;
    gap: var(--hgap-mid);
}

.save-modal .error-message
{
    color: var(--colour-error);
    font-weight: bold;
}

.warning-about-user-pages
{
    background-color: var(--colour-warning-fainter);
    border: 1px solid var(--colour-warning);
    padding: var(--vgap-mid) var(--common-indent-size);
    border-radius: var(--radius-border);
}
