
.save-modal
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.save-modal .buttons
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.save-modal .error-message
{
    color: var(--colour-error);
    font-weight: bold;
}


.create-as-user-toggle
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    margin-top: 10;
    margin-bottom: 10;
    font-size: 14px;
}

/* Based on https://mantine.dev/core/switch/?t=styles-api */
.create-as-user-toggle .mantine-Switch-track
{
    /* Ensure when the toggle is set to "Wiki" data component that it is blue
        and not greyed out. */
    --switch-bg: var(--colour-primary-blue);
}

.create-as-user-toggle s
{
    color: var(--colour-border);
}
