

.scenarios
{
    border-top: 1px solid var(--colour-border);
}

.scenario-form-header
{
    justify-content: space-between;
    gap: var(--vgap-mid);
}

.scenario-divider
{
    /* height: 1px; */
    border-bottom: 1px solid var(--colour-border);
    padding: 15px 0;
    margin: 15px 0;
}

.scenario-content
{
    margin-left: var(--common-indent-size);
    display: flex;
    flex-direction: column;
    gap: var(--vgap-mid);
}

.scenario-options
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--hgap-mid);
}
