
.value-editor-container
{
    display: flex;
    flex-direction: column;
}

.value-editor-container .value-editor-header div
{
    /* Need to make `TextDisplayOnlyV1` grow to fill the space.  Works in
    conjunction with `.value-editor-container .row` rules */
    flex: 1;
}

.value-editor-container.opened
{
    border-top: 1px solid var(--border-color);
    padding-top: 10px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
}

.value-editor-container .row
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* This "gap" causes the .value-editor-container element to increase in
    width slightly even though the .sig-figs and .format have widths which fit
    within the size of the .value-editor-container element. */
    gap: 10px;
    min-width: 320px;
}

.value-editor-container .row .sig-figs
{
    width: 100px;
    /* To set the width we have to over-write the default min-width on the TextEditorV1 */
    min-width: 100px;
    flex: 0 0 100px;
}

.value-editor-container .row .format
{
    /* To set the width we have to over-write the default min-width on the TextEditorV1 */
    min-width: unset;
    flex: 1 1 0;
}
