
#data-component .section
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0;
}

#data-component .section + .section
{
    border-top: 1px solid var(--colour-border-fainter);
}

#data-component .section .row
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    white-space-collapse: preserve;
}

#data-component .scenario-row
{
    gap: var(--vgap-small);
}

#data-component .scenario-header
{
    display: flex;
    flex-direction: column;
    gap: var(--vgap-small);
}
#data-component .scenario-header.header_openable
{
    cursor: pointer;
}
#data-component .scenario-header.header_not_openable .scenario-title
{
    cursor: pointer;
    width: fit-content;
    padding: 10px;
    margin: -10px;
}

#data-component .scenario-input-values
{
    cursor: default;
}

#data-component #title-and-metrics
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#data-component #title-and-metrics h2.component-title
{
    width: fit-content;
    /* No or minimal margin or padding so that the alternatives "fork" and
    according to labels show directly under the title */
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 10px;
}
#data-component #title-and-metrics h2.component-title .mention-chip
{
    font-size: 1em;
}
