
#data-component .section
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0;
}

#data-component .section + .section
{
    border-top: 1px solid var(--colour-border-fainter);
}

#data-component .section .row
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    white-space-collapse: preserve;
}

#data-component .scenario-row
{
    gap: var(--vgap-small);
}

#data-component .scenario-header
{
    display: flex;
    flex-direction: column;
    gap: var(--vgap-small);
}
#data-component .scenario-header.header_openable
{
    cursor: pointer;
}
#data-component .scenario-header.header_not_openable .scenario-title
{
    cursor: pointer;
    width: fit-content;
    padding: 10px;
    margin: -10px;
}

#data-component .scenario-input-values
{
    cursor: default;
}
