

.according-to-info
{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    color: var(--text-secondary-color);
}

.according-to-label
{
    white-space: nowrap;
}

@media (max-width: 600px)
{
    .according-to-label
    {
        display: none;
    }
}
