

.scenario-results-display .results-view-tabs
{
    padding-top: var(--vgap-large);
    padding-bottom: var(--vgap-small);

    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: flex-end;
}
