
:root {
    --header-height: 40px;
    --page-padding: 20px;
    --secondary-fill-color: #f0f0f0;
    --secondary-text-color: #333;
    --primary-blue: #1c7ed6;
    --border-color: #dee2e6;

    --z-index-header: 200;
    --z-index-modal-save: 301;
    --z-index-modal-search: 302;
    --z-index-notifications: 401;
}


.main-app-container
{
    margin-top: var(--header-height);
}

.page-container
{
    padding: var(--page-padding);
}
