
:root {
    --header-height: 40px;
    --page-padding: 20px;

    --secondary-fill-colour: #f0f0f0;
    --secondary-text-colour: #333;
    --requires-manual-sync-colour-primary-blue-rgb: 28, 126, 214;  /* #1c7ed6 */
    --colour-primary-blue-rgb: var(--requires-manual-sync-colour-primary-blue-rgb);
    --colour-primary-blue: rgb(var(--requires-manual-sync-colour-primary-blue-rgb));
    --colour-secondary-blue: rgb(34, 139, 230);  /* #228be6 */
    --colour-tertiary-blue: rgb(95, 175, 255); /* #5fafff */
    --colour-quaternary-blue: var(--mantine-color-blue-1);

    /* --mantine-color-red-9/8 used for danger & danger:hover colours */
    --colour-danger-background: var(--mantine-color-red-9);
    --colour-danger-background-hover: var(--mantine-color-red-8);
    --colour-danger-text: var(--mantine-color-white);
    --requires-manual-sync-colour-error: rgb(250, 82, 82); /* #fa5252 --mantine-color-red-6 */
    --colour-error: var(--requires-manual-sync-colour-error);
    --requires-manual-sync-colour-invalid: rgb(255, 168, 168); /* #ffa8a8 --mantine-color-red-3 */

    --colour-invalid: var(--requires-manual-sync-colour-invalid);
    --colour-invalid-fainter: rgb(255, 214, 214);  /* #ffd6d6 Half way between mantine-color-red-1 and -2 of ffe3e3 and ffc9c9 */
    --requires-manual-sync-colour-warning: rgb(255, 192, 120); /* #ffc078 --mantine-color-orange-3 */
    --colour-warning: var(--requires-manual-sync-colour-warning);
    --colour-warning-fainter: rgb(255, 227, 191); /* #ffe3bf --mantine-color-orange-1 */
    --colour-border: #dee2e6;
    --colour-border-fainter: #e6e6e6;
    --colour-success: rgb(47, 158, 68); /* #2f9e44 --mantine-color-green-8 */
    --colour-quaternary-green: var(--mantine-color-green-1);

    --colour-link: rgb(25, 118, 210); /* #1976d2 */

    --z-index-header: 200;
    --z-index-modal-save: 301;
    --z-index-modal-search: 302;
    --z-index-modal-welcome: 303;
    --z-index-full-screen-game-loading: 400;
    --z-index-full-screen-game: 401;
    --z-index-full-screen-game-close-button: 402;
    --z-index-notifications: 501;
    --z-index-wikisim-select-label: 1;

    --radius-border: 5px;

    --vgap-large: 20px;
    --vgap-mid: 12px;
    --vgap-small: 5px;

    --hgap-large: 20px;
    --hgap-mid: 10px;

    --padding-v-text-box: 4px;
    --padding-h-text-box: 10px;
    --padding-text-box: var(--padding-v-text-box) var(--padding-h-text-box);

    --width-for-fixed-buttons: 50px;
    --max-column-width: 700px;

    --common-indent-size: 20px;

    --font-family-monospace: Menlo, Monaco, 'Courier New', monospace;
}

a
{
    color: var(--colour-link);
}

.vertical-gap
{
    padding-top: var(--vgap-large);
}


.main-app-container
{
    margin-top: var(--header-height);
}

.page-container
{
    padding: var(--page-padding);
}


.row
{
    display: flex;
    flex-direction: row;
    flex: 1 1;
    gap: var(--hgap-large);
}
.column
{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    gap: var(--vgap-large);
}
.row_to_column
{
    display: flex;
    flex-direction: row;
    flex: 1 1;
    gap: var(--vgap-large);
}
@media (max-width: 800px)
{
    .row_to_column
    {
        flex-direction: column;
    }
}


/* Bring distance between checkbox and label slightly closer */
.mantine-Checkbox-labelWrapper label
{
    padding-inline-start: calc(var(--hgap-mid) - 2px);
}
.scenario-content .mantine-Checkbox-inner,
.mantine-Checkbox-inner
{
    /* Ensure that the checkbox is positioned in middle of vertical */
    margin-top: auto;
    margin-bottom: auto;
}

.make-pre-text-wrap
{
    white-space: pre-wrap;
    word-break: break-word;
}
