
:root {
    --header-height: 40px;
    --page-padding: 20px;
    --secondary-fill-color: #f0f0f0;
    --secondary-text-color: #333;
}


.main-app-container
{
    margin-top: var(--header-height);
}

.page-container
{
    padding: var(--page-padding);
}
