
:root {
    --header-height: 40px;
    --page-padding: 20px;

    --secondary-fill-colour: #f0f0f0;
    --secondary-text-colour: #333;
    --requires-manual-sync-colour-primary-blue: rgb(28, 126, 214);  /* #1c7ed6 */
    --colour-primary-blue: var(--requires-manual-sync-colour-primary-blue);
    --colour-secondary-blue: rgb(34, 139, 230);  /* #228be6 */
    --colour-tertiary-blue: rgb(95, 175, 255); /* #5fafff */
    /* --mantine-color-red-9/8 used for danger & danger:hover colours */
    --requires-manual-sync-colour-error: rgb(250, 82, 82); /* #fa5252 --mantine-color-red-6 */
    --colour-error: var(--requires-manual-sync-colour-error);
    --requires-manual-sync-colour-invalid: rgb(255, 168, 168); /* #ffa8a8 --mantine-color-red-3 */
    --colour-invalid: var(--requires-manual-sync-colour-invalid);
    --colour-invalid-fainter: rgb(255, 214, 214);  /* #ffd6d6 Half way between mantine-color-red-1 and -2 of ffe3e3 and ffc9c9 */
    --requires-manual-sync-colour-warning: rgb(255, 192, 120); /* #ffc078 --mantine-color-orange-3 */
    --colour-warning: var(--requires-manual-sync-colour-warning);
    --colour-warning-fainter: rgb(255, 227, 191); /* #ffe3bf --mantine-color-orange-1 */
    --colour-border: #dee2e6;
    --colour-border-fainter: #e6e6e6;
    --colour-success: rgb(47, 158, 68); /* #2f9e44 --mantine-color-green-8 */

    --colour-link: rgb(25, 118, 210); /* #1976d2 */

    --z-index-header: 200;
    --z-index-modal-save: 301;
    --z-index-modal-search: 302;
    --z-index-modal-welcome: 303;
    --z-index-notifications: 401;
    --z-index-wikisim-select-label: 1;

    --radius-border: 5px;
    --gap-common: 20px;
    --gap-common-mid: 12px;
    --gap-common-close: 5px;

    --common-indent-size: 20px;
}

.vertical-gap
{
    padding-top: var(--gap-common);
}


.main-app-container
{
    margin-top: var(--header-height);
}

.page-container
{
    padding: var(--page-padding);
}


.row
{
    display: flex;
    flex-direction: row;
    flex: 1 1;
    gap: var(--gap-common);
}
.column
{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    gap: var(--gap-common);
}
.row_to_column
{
    display: flex;
    flex-direction: row;
    flex: 1 1;
    gap: var(--gap-common);
}
@media (max-width: 800px)
{
    .row_to_column
    {
        flex-direction: column;
    }
}
